@use "~/src/styles/colors.scss";
.whiteBox {
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
  border-radius: 10px;
  box-shadow: rgba(32, 54, 86, 0.15) 0px 8px 20px;
  padding: 32px 28px;
  margin-bottom: 20px;
}

.postsList {
  display: flex;
  flex-direction: column;
}
