$first: #62a1eb;
$filterFirst: invert(63%) sepia(22%) saturate(3041%) hue-rotate(187deg)
  brightness(97%) contrast(89%);
$firstDark: #004547;
$fontdark: #434343;
$fontGray: #959595;
$grayBox: rgba(0, 0, 0, 0.69);
$nightSwitchBg: #232222;
$filterDarkBlue: invert(14%) sepia(42%) saturate(2733%) hue-rotate(170deg)
  brightness(88%) contrast(101%);
