@use "~/src/styles/config.scss";

.sidebarsBox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: config.$siteWidth;
  margin: auto;
}

.console {
  width: 100%;
  border-radius: 10px;
}

.consoleBox h3 {
  font-size: 25px;
}
